In [2]:
import pandas as pd
df=pd.read_csv('Cars.csv')#load the data set

In [26]:
df.isna().sum()#checking the null values
df.fillna(df['Make'].ffill,inplace=True)#filling all null values with mean values
df

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [27]:
df.isna().sum()#checking all null values

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [30]:
df['Make'].value_counts()#different types of make

Toyota                                                                                                                                                                                                                                                              28
Chevrolet                                                                                                                                                                                                                                                           27
Mercedes-Benz                                                                                                                                                                                                                                                       26
Ford                                                                                                                                                                                                                                                                23
BMW                                                                                                                                                                                                                                                                 20
Audi                                                                                                                                                                                                                                                                19
Nissan                                                                                                                                                                                                                                                              17
Honda                                                                                                                                                                                                                                                               17
Chrysler                                                                                                                                                                                                                                                            15
Volkswagen                                                                                                                                                                                                                                                          15
Mitsubishi                                                                                                                                                                                                                                                          13
Dodge                                                                                                                                                                                                                                                               13
Hyundai                                                                                                                                                                                                                                                             12
Jaguar                                                                                                                                                                                                                                                              12
Volvo                                                                                                                                                                                                                                                               12
Kia                                                                                                                                                                                                                                                                 11
Mazda                                                                                                                                                                                                                                                               11
Lexus                                                                                                                                                                                                                                                               11
Pontiac                                                                                                                                                                                                                                                             11
Subaru                                                                                                                                                                                                                                                              11
Lincoln                                                                                                                                                                                                                                                              9
Mercury                                                                                                                                                                                                                                                              9
Buick                                                                                                                                                                                                                                                                9
Saturn                                                                                                                                                                                                                                                               8
Infiniti                                                                                                                                                                                                                                                             8
GMC                                                                                                                                                                                                                                                                  8
Cadillac                                                                                                                                                                                                                                                             8
Suzuki                                                                                                                                                                                                                                                               8
Porsche                                                                                                                                                                                                                                                              7
Saab                                                                                                                                                                                                                                                                 7
Acura                                                                                                                                                                                                                                                                7
<bound method Series.ffill of 0      $36,945 \n1      $23,820 \n2      $26,990 \n3      $33,195 \n4      $43,755 \n         ...   \n427    $40,565 \n428    $42,565 \n429    $45,210 \n430    $26,135 \n431    $35,145 \nName: MSRP, Length: 432, dtype: object>     4
Oldsmobile                                                                                                                                                                                                                                                           3
Jeep                                                                                                                                                                                                                                                                 3
Land Rover                                                                                                                                                                                                                                                           3
MINI                                                                                                                                                                                                                                                                 2
Scion                                                                                                                                                                                                                                                                2
Isuzu                                                                                                                                                                                                                                                                2
Hummer                                                                                                                                                                                                                                                               1
Name: Make, dtype: int64

In [7]:
df[df['Origin']=='Asia'].value_counts()
# df[df['Origin']=='Europe'].value_counts()#Show all Records where origin is Asia or Europe

Make    Model                  Type   Origin  DriveTrain  MSRP      Invoice   EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  Weight  Wheelbase  Length
Acura   3.5 RL 4dr             Sedan  Asia    Front       $43,755   $39,014   3.5         6.0        225.0       18.0      24.0         3880.0  115.0      197.0     1
Scion   xA 4dr hatch           Sedan  Asia    Front       $12,965   $12,340   1.5         4.0        108.0       32.0      38.0         2340.0  93.0       154.0     1
Nissan  Quest S                Sedan  Asia    Front       $24,780   $22,958   3.5         6.0        240.0       19.0      26.0         4012.0  124.0      204.0     1
        Quest SE               Sedan  Asia    Front       $32,780   $30,019   3.5         6.0        240.0       18.0      25.0         4175.0  124.0      204.0     1
        Sentra 1.8 4dr         Sedan  Asia    Front       $12,740   $12,205   1.8         4.0        126.0       28.0      35.0         2513.0  100.0      178.0     1
                                                                                                                                                                    ..
Kia     Sedona LX              Sedan  Asia    Front       $20,615   $19,400   3.5         6.0        195.0       16.0      22.0         4802.0  115.0      194.0     1
        Sorento LX             SUV    Asia    Front       $19,635   $18,630   3.5         6.0        192.0       16.0      19.0         4112.0  107.0      180.0     1
        Spectra 4dr            Sedan  Asia    Front       $12,360   $11,630   1.8         4.0        124.0       24.0      32.0         2661.0  101.0      178.0     1
        Spectra GS 4dr hatch   Sedan  Asia    Front       $13,580   $12,830   1.8         4.0        124.0       24.0      32.0         2686.0  101.0      178.0     1
Toyota  Tundra Regular Cab V6  Truck  Asia    Rear        $16,495   $14,978   3.4         6.0        190.0       16.0      18.0         3925.0  128.0      218.0     1
Length: 156, dtype: int64

In [9]:
df[df['Weight']>4000].dropna#Remove All Records where weight is above 4000

<bound method DataFrame.dropna of            Make                           Model    Type  Origin DriveTrain  \
0         Acura                             MDX     SUV    Asia        All
15         Audi  A4 3.0 Quattro convertible 2dr   Sedan  Europe        All
17         Audi              A6 4.2 Quattro 4dr   Sedan  Europe        All
18         Audi                A8 L Quattro 4dr   Sedan  Europe        All
20         Audi                        RS 6 4dr  Sports  Europe      Front
..          ...                             ...     ...     ...        ...
405  Volkswagen                      Touareg V6     SUV  Europe        All
415  Volkswagen                     Phaeton 4dr   Sedan  Europe      Front
416  Volkswagen                 Phaeton W12 4dr   Sedan  Europe      Front
419  Volkswagen                       Passat W8   Wagon  Europe      Front
420       Volvo                         XC90 T6     SUV  Europe        All

         MSRP   Invoice  EngineSize  Cylinders  Horsepower  MPG_City  \
0    $36,945   $33,337          3.5        6.0       265.0      17.0
15   $44,240   $40,075          3.0        6.0       220.0      18.0
17   $49,690   $44,936          4.2        8.0       300.0      17.0
18   $69,190   $64,740          4.2        8.0       330.0      17.0
20   $84,600   $76,417          4.2        8.0       450.0      15.0
..        ...       ...         ...        ...         ...       ...
405  $35,515   $32,243          3.2        6.0       220.0      15.0
415  $65,000   $59,912          4.2        8.0       335.0      16.0
416  $75,000   $69,130          6.0       12.0       420.0      12.0
419  $40,235   $36,956          4.0        8.0       270.0      18.0
420  $41,250   $38,851          2.9        6.0       268.0      15.0

     MPG_Highway  Weight  Wheelbase  Length
0           23.0  4451.0      106.0   189.0
15          25.0  4013.0      105.0   180.0
17          24.0  4024.0      109.0   193.0
18          24.0  4399.0      121.0   204.0
20          22.0  4024.0      109.0   191.0
..           ...     ...        ...     ...
405         20.0  5086.0      112.0   187.0
415         22.0  5194.0      118.0   204.0
416         19.0  5399.0      118.0   204.0
419         25.0  4067.0      106.0   184.0
420         20.0  4638.0      113.0   189.0

[103 rows x 15 columns]>

In [15]:
df['MPG_City']+=3#Increase all the values of â€˜MPG_Cityâ€™ column by 3
df

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,20.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,27.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,25.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,23.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,21.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,24.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,23.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,22.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,25.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,23.0,27.0,3823.0,109.0,186.0